
        .container {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 100%;
            max-width: 300px;
        }

        .btn {
            width: 90%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: black;
            border: 15px solid transparent;
            transition: all 2s ease;
            border-radius: 15%;
        }

        .color-transition {
            background-color: lightgreen;
        }
        .color-transition:hover {
            background-color: lightblue;
        }
            @media (max-width: 480px) {
            .box {
                height: 50px;
                font-size: 12px;
                border-radius: 15px
            }
        }
        

