body {
  margin: 0px;
}
.navbar {
  list-style-type: none;
  background-color: red;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar {
  color: blue;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: black;
}
.navbar i{
  float: left;
}